In [1]:
from modules.backtester import long_only_backtester
from modules.data_fetcher import download_historical_data

from ta.trend import ema_indicator

In [2]:
symbol = 'BTC-USDT'

df_BTC = download_historical_data(symbol,'1hour')
df_BTC["Return"] = df_BTC.Close.pct_change()
df_BTC.dropna(inplace=True)
print(df_BTC.shape)
df_BTC.head()

(45370, 8)

,Timestamp,Open,Close,High,Low,Amount,Volume,Return
Date,,,,,,,,
2018-01-01 01:00:00,1.514765e+09,12933.000001,13173.464605,13499.999990,12510.000000,1.631550,21330.491751,0.018593
2018-01-01 02:00:00,1.514768e+09,13173.464605,13400.899973,13400.899973,12510.000008,1.243886,16278.918914,0.017265
2018-01-01 03:00:00,1.514772e+09,13498.999989,13889.000000,13889.000000,12757.698405,0.823831,11011.354902,0.036423
2018-01-01 04:00:00,1.514776e+09,13799.000000,13000.000000,13799.000000,13000.000000,1.835235,24085.661987,-0.064007
2018-01-01 05:00:00,1.514779e+09,13000.000000,12717.136730,13242.775254,12600.000001,1.883597,24416.806644,-0.021759

In [3]:
df_BTC['EMA20'] = ema_indicator(df_BTC.Close,20)
df_BTC['EMA60'] = ema_indicator(df_BTC.Close,60)
df_BTC.dropna(inplace=True)

df_BTC.head()

,Timestamp,Open,Close,High,Low,Amount,Volume,Return,EMA20,EMA60
Date,,,,,,,,,,
2018-01-03 12:00:00,1.514977e+09,14200.000000,14600.491246,14610.491280,13822.000000,0.733603,10708.592065,0.056475,14380.888079,13946.049400
2018-01-03 13:00:00,1.514981e+09,14600.491248,14569.999995,14600.491248,13872.010002,1.322978,18980.183109,-0.002088,14398.898738,13966.506796
2018-01-03 14:00:00,1.514984e+09,14569.989997,14563.999978,14569.989997,14175.000000,0.918826,13367.525297,-0.000412,14414.622665,13986.096737
2018-01-03 15:00:00,1.514988e+09,14563.999978,14700.000000,15199.999999,14449.999999,4.947469,72903.944960,0.009338,14441.801459,14009.503401
2018-01-03 16:00:00,1.514992e+09,14688.000001,14689.000001,15199.989999,14688.000001,0.396242,5969.656056,-0.000748,14465.344177,14031.781978

In [4]:
def buy_func(row, prev_row)->bool:
    return True if row.EMA20 > row.EMA60 else False

def sell_func(row, prev_row, trading_days)->bool:
    return True if row.EMA20 < row.EMA60 else False

long_only_backtester(df_BTC,buy_func,sell_func)

-------------  General informations  -------------
Period: [2018-01-03 12:00:00] -> [2023-03-06 10:00:00]
Intial balance: 1000 $

-------------  Strategy performance  -------------
Final balance: 9252.99 $
Strategy return: 925.30 %
Strategy fees: 2517.89 $
Final net balance: 4533.33 $
Strategy net return: 453.33 %
Buy and Hold return: 153.43 %
Strategy winrate: 29.61 %

-------------  Trades informations  --------------
Mean trade duration: 2 days 17:43:14
Total trades: 358
Total bad trades: 252
Total good trades: 106
Mean good trades return: 7.53 %
Mean bad trades return: -2.01 %
Median good trades return: 4.17 %
Median bad trades return: -1.56 %
Mean good trade duration: 5 days 22:03:23
Mean good trade duration: 1 days 09:36:40

,buy_date,buy_price,buy_reason,sell_date,sell_price,sell_reason,return,equity,net_equity,fees,trade_duration
0,2018-01-03 13:00:00,14569.999995,Entry position triggered,2018-01-08 05:00:00,15475.500000,Exit position triggered,0.062148,1062.148250,1060.148250,2.000000,4 days 16:00:00
0,2018-01-13 06:00:00,14160.000000,Entry position triggered,2018-01-14 10:00:00,13607.378997,Exit position triggered,-0.039027,1020.695889,1016.653647,2.120297,1 days 04:00:00
0,2018-01-15 19:00:00,13862.862857,Entry position triggered,2018-01-16 00:00:00,13448.998995,Exit position triggered,-0.029854,990.223890,984.269018,2.033307,0 days 05:00:00
0,2018-01-19 13:00:00,11625.000000,Entry position triggered,2018-01-19 23:00:00,11100.001791,Exit position triggered,-0.045161,945.504254,937.849773,1.968538,0 days 10:00:00
0,2018-01-20 00:00:00,11395.000000,Entry position triggered,2018-01-21 17:00:00,11017.100000,Exit position triggered,-0.033164,914.147865,904.871534,1.875700,1 days 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...
0,2023-02-07 23:00:00,23230.300000,Entry position triggered,2023-02-08 19:00:00,22893.900000,Exit position triggered,-0.014481,8781.716019,4336.608243,8.818556,0 days 20:00:00
0,2023-02-14 15:00:00,22240.200000,Entry position triggered,2023-02-21 22:00:00,24196.700000,Exit position triggered,0.087971,9554.255267,4709.432227,8.673216,7 days 07:00:00
0,2023-02-27 01:00:00,23497.500000,Entry position triggered,2023-02-28 09:00:00,23267.800000,Exit position triggered,-0.009776,9460.857568,4653.976270,9.418864,1 days 08:00:00
0,2023-02-28 16:00:00,23517.500000,Entry position triggered,2023-02-28 21:00:00,23273.500000,Exit position triggered,-0.010375,9362.698782,4596.382138,9.307953,0 days 05:00:00
0,2023-03-01 06:00:00,23690.000000,Entry position triggered,2023-03-02 12:00:00,23412.400000,Exit position triggered,-0.011718,9252.986449,4533.328856,9.192764,1 days 06:00:00